<div class="dynamic-table-container mat-elevation-z4">

  <!-- Horizontal view -->
  @if(orientation === 'horizontal'){
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container *ngFor="let col of columns" [matColumnDef]="col.key">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ col.label | translate }}</th>
        <td mat-cell *matCellDef="let row">{{ row[col.key] }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSize]="pageSize" [pageSizeOptions]="[5,10,20]" showFirstLastButtons></mat-paginator>
  }

  <!-- Vertical view -->
  @if(orientation === 'vertical'){
    <div class="vertical-table">
      <div class="vertical-row" *ngFor="let col of columns">
        <div class="vertical-cell label-cell">
          {{ col.label | translate }}
        </div>
        <div class="vertical-cell" *ngFor="let row of data">
          {{ row[col.key] }}
        </div>
      </div>
    </div>
  }

</div>
