<h2>{{ 'NUMEROLOGY.TITLE' | translate }}</h2>
<form [formGroup]="form" (ngSubmit)="calculate()" class="numerology-form">
  <label>
    {{ 'NUMEROLOGY.NAME' | translate }}
    <input formControlName="name" placeholder="{{ 'NUMEROLOGY.NAME_PLACEHOLDER' | translate }}"/>
  </label>

  <label>
    {{ 'NUMEROLOGY.BIRTHDATE' | translate }}
    <input type="date" formControlName="birthDate"/>
  </label>

  <button type="submit" [disabled]="form.invalid">{{ 'NUMEROLOGY.CALCULATE' | translate }}</button>
</form>

<div *ngIf="lifePathNumber" class="result-card">
  <h3>{{ 'NUMEROLOGY.RESULT' | translate }}: {{ lifePathNumber }}</h3>
  <p>{{ 'NUMEROLOGY.LIFE_PATH_DESCRIPTIONS.' + lifePathNumber | translate }}</p>
</div>

<p>Karma</p>
<app-dynamic-table
  [columns]="tableColumns"
  [data]="tableData"
  [pageSize]="5"
  [orientation]="'vertical'">
</app-dynamic-table>
